:root {
    --white: white;
    --borderColor: rgb(100, 178, 255);
    --backgroundColor: rgb(252, 230, 208);
}

* {
    margin: 0;
    padding: 0;

    border-style: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    /* background-color: rgb(188, 188, 188); */
}

header {
    margin: 10px;
    padding: 10px;
    background-color: var(--backgroundColor);
    border-bottom: 5px var(--borderColor) solid;
}

h1 {
    text-align: center;
}

header nav {
    float: right;
    margin: -30px 10px;
    padding: 5px 5px;
    background-color: var(--backgroundColor);
}

nav a {
    text-decoration: none;
    /* margin-right: 10px; */
    margin: auto 3px;
    padding: 2px 3px;
}

header li {
    list-style-type: none;
    display: inline-block;
    border-bottom: 2px var(--borderColor) solid;

}

main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

aside section {
    flex: 1 0 25%;
    width: 15%;
    border-right: 2px var(--borderColor) solid;
    text-align: right;
    margin: 5px 0px;
    padding-right: 10px;
}