:root {
    --white: white;
    --borderColor: rgb(100, 178, 255);
    --backgroundColor: rgb(252, 230, 208);
}

* {
    margin: 0;
    padding: 0;

    border-style: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2%;
    background-color: var(--backgroundColor);
    border-bottom: 5px var(--borderColor) solid;
}

h1 {
    text-align: center;
}

h2{
    font-size: 150%;
}

nav ul{
    display: flex;
    justify-content: space-between;
    min-width: 300px;
}

nav a {
    text-decoration: none;
    margin-right: 10px;
    margin: auto 3px;
    padding: 2px 3px;
}


header li {
    list-style-type: none;
}

main {
    display: flex;
    flex-wrap: wrap;
}

aside {
    flex: 1 0 10%;
    flex-direction: column;
    text-align: right;
    border-right: 2px var(--borderColor) solid;
    padding-right: 10px;
}

.navHover {
    background-image: linear-gradient(var(--borderColor) 0 0);
    background-size: 200% .08em;
    background-position: 200% 100%;
    background-repeat: no-repeat;
    transition: background-size .25s, background-position .25s .25s;
}

.navHover:hover {
    transition: background-size .25s .25s, background-position .25s;
    background-size: 200% 100%;
    background-position: 100% 100%;
}

.card {
    display: flex;
    flex-wrap: wrap;

    padding: 5px;
    width: 100%;
    border-bottom: 2px var(--borderColor) solid;
}
    
.card p {
    flex: 1 0 60%;
    padding: 10px;
}

.IMGcard {
    flex: 1 0 5%;
    margin: 10px;
}

.sectionIMG {
    width: 100%;
    
}

@media screen and (max-width: 768px) {
    header {
        justify-content: center;
    }
    
    header li {
        flex-direction: column;
    }

    aside {
        text-align: center;
        flex: 1 0 98%
    }
    
    .card p {
        flex: 1 0 98%;
        text-align: center;
    }
    
    .IMGcard {
        flex: 1 0 98%;
    }
}

/* @media screen and (max-width: 768px) {

} */