:root {
    --white: white;
    --borderColor: rgb(100, 178, 255);
}

* {
    margin: 0;
    padding: 0;

    border-style: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

header {
    text-align: center;
}

header nav {
    float: right;
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

a {
    text-decoration: none;
}

aside section {
    flex: 1 0 25%;
    width: 15%;
    border-right: 2px var(--borderColor) solid;
    text-align: right;
    margin: 5px 0px;
    padding-right: 10px;
}